[submodule "docker"]
	path = docker
	url = https://github.com/karthiknadar1204/Docker.git
[submodule "monitoringprometheus"]
	path = monitoringprometheus
	url = https://github.com/karthiknadar1204/week-26-prom.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/karthiknadar1204/Kubernetes.git
[submodule "hpa2"]
	path = hpa2
	url = https://github.com/100xdevs-cohort-2/week-28-manifests.git
[submodule "hpa3/week-26-manifests"]
	path = hpa3/week-26-manifests
	url = https://github.com/100xdevs-cohort-2/week-28-manifests.git
[submodule "testing_testing"]
	path = testing_testing
	url = https://github.com/100xdevs-cohort-2/week-24-testing.git
